.webcam {
	position: fixed;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transform: scaleX(-1);
	filter: FlipH;
}

.canvas {
	position: fixed;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transform: scaleX(-1);
	filter: FlipH;
	z-index: 9;
}

.camera-button {
	width: 400px;
	text-align: center;
	position: fixed;
	bottom: 30px;
	left: calc(50% - 80px);
	z-index: 10;
}
